@charset "UTF-8";

body {
    font-family:cursive;
    background: linear-gradient(to left, rgb(50, 54, 51), rgb(17, 46, 63));
}

.container-master {
    margin: 0 auto;
    width: 51vw;
    /* background-color: rgb(3, 53, 82); */
    /* background-color: rgb(27, 153, 226); */
}

h1 {
    color: white;
    font: 1.75rem bolder;
    margin: 0px auto;
    padding: 10px 0px 10px 7px;
}

.fieldset {
    color: rgb(236, 228, 228);
    font: 1.6rem bolder;
    width: 99%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(146, 135, 156);
    margin: 10px auto;
    height: 15vh;
    padding-left: 7px;
}

fieldset legend {
    color: rgb(1, 37, 36);
    font-size: 1.4rem;
}

.fieldset:hover {
    background-color: white;
    color: black;
    border-radius: 8px;
    transition: all .2s ease-in-out;

    box-shadow: 1px 1px 5px rgba(238, 235, 235, 0.999);

}

fieldset {
    border: none;
}

.fieldset-content {
    margin-top: 10px;
}

.fieldset-pessoal {
    margin-top: 5px;
}

.pessoal {
    padding-bottom: 5px;
}

#iTamanho, #iIdade {
    width: 90px;
}

#iTamanho:focus, #iIdade:focus {
    width: 100px;
}

.btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    /* background-color: aliceblue; */
    height: 30px;
    background: linear-gradient(to left, rgb(50, 54, 51), rgb(17, 46, 63));
}

#enviar, #limpar {
    width: 100%;
    height: 30px;
    background-color: transparent;
    color: white;
    font: 1.5rem bolder;
    border: none
}

#enviar:hover, #limpar:hover {
    height: 30px;
    background-color: lightblue;
    color: red;
    font: 1.5rem bolder;
    cursor: pointer;
}

input:focus, select:focus {
    background-color: black;
    color: white;
    font-weight: bolder;
}

label{
    font-size: 1.3rem;
}

form input, form select {
    text-transform: uppercase;
}

@media  screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    label {
        font-size: 1.25rem;
    }

    input {
        width: 60%;
    }

    #enviar, #limpar {
        font-size: 1.3rem;
        height: auto;
    }
}